@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
:root {
  --background: #fafafa;
  --foreground: #262626;
}

html.dark {
  --background: #262626;
  --foreground: #fafafa;
}

/* Apply global background and text color */
html {
  background-color: var(--background);
  color: var(--foreground);
}

* {
  @apply transition-colors duration-[50ms];
}
