@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
:root {
  --background: #fafafa;
  --foreground: #262626;
  --scrollbar: #e5e5e5;
}

html.dark {
  --background: #262626;
  --foreground: #fafafa;
  --scrollbar: #404040;
}

/* Apply global background and text color */
html {
  background-color: var(--background);
  color: var(--foreground);
}

* {
  @apply transition-colors duration-[50ms];
  scroll-behavior: smooth;
}

@layer utilities {
  /* For Firefox */
  .scrollbar {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: var(--scrollbar) var(--background); /* Thumb color and track color */
  }
}

/* 


  Chrome, Safari and Opera
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: auto; IE and Edge 
    scrollbar-width: none;  Firefox 
  }

  .chat-session-scrollbar::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar
  }

  .chat-session-scrollbar::-webkit-scrollbar-thumb {
    background: red; /* Scrollbar color
    border-radius: 10px; /* Round edges
  }

  .chat-session-scrollbar::-webkit-scrollbar-track {
    background: #031aec; /* Track color
  }
*/

.chat-start .chat-bubble {
  @apply rounded-tl-none rounded-bl-[1rem];
}
.chat-end .chat-bubble {
  @apply rounded-tr-none rounded-br-[1rem];
}
.chat-bubble:before {
  @apply top-0 [transform:rotateX(180deg)];
}
